<div class="card main  ">
  <form *ngIf="extentInputs" class="row g-3 p-3 justify-content-center align-items-center" [formGroup]="formGroup">
    <div *ngFor="let item of extentInputs" class="col-md-6 col-lg-6">

      <div class="form-group field" *ngIf="item.Format == 0">
        <input type="text" [formControl]="item.FormControl" class="form-control" placeholder="{{item.Title}}"
               name="Name" id='name'/>
        <span class="description" *ngIf="item.Description">* {{item.Description}}</span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>

      <div *ngIf="item.Format == 5">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [formControl]="item.FormControl" value=""
                 id="flexCheckIndeterminateDisabled">
          <label class="form-check-label" for="flexCheckIndeterminateDisabled">
            {{item.Title}}
          </label>
        </div>
        <span class="description" *ngIf="item.Description">* {{item.Description}}</span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>


      <div *ngIf="item.Format == 6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" [formControl]="item.FormControl">
          <label class="form-check-label" for="flexCheckIndeterminateDisabled">
            {{item.Title}}
          </label>
        </div>
        <span class="description" *ngIf="item.Description">* {{item.Description}}</span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>


      <div *ngIf="item.Format == 3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" [formControl]="item.FormControl" class="form-control" placeholder="{{item.Title}}"
                 aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <span class="description" *ngIf="item.Description">* {{item.Description}}</span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>

      <div *ngIf="item.Format == 2">
        <div class="input-group">
          <span class="input-group-text">Phone</span>
          <input [formControl]="item.FormControl" type="text" class="form-control" placeholder="{{item.Title}}"
                 aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <span class="description" *ngIf="item.Description" [innerHTML]="item.Description">* </span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>

      <div *ngIf="item.Format ==8" style="margin-top: -7%" >
        <div class="DatePriod input-group" >
          <div >
            <div class="dp-hidden position-absolute">
              <div class="input-group">
                <input
                  name="datepicker"
                  class="form-control"
                  ngbDatepicker
                  #datepickerperiod="ngbDatepicker"
                  [autoClose]="'outside'"
                  (dateSelect)="onDateSelection($event,datepickerperiod)"
                  [dayTemplate]="t"
                  outsideDays="hidden"
                  [startDate]="fromDate!"
                  tabindex="-1"
                />
                <ng-template #t let-date let-focused="focused">
					<span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
						{{ date.day }}
					</span>
                </ng-template>
              </div>
            </div>
            <div class="input-group">
              <input
                #dpFromDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                (click)="datepickerperiod.toggle()"
              />
            </div>
          </div>
          <div >
            <div class="input-group">
              <input
                #dpToDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)"
                (click)="datepickerperiod.toggle()"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group field" *ngIf="item.Format == 4">
        <input type="text" (click)="d.toggle()" 	ngbDatepicker #d="ngbDatepicker" [formControl]="item.FormControl" class="form-control" placeholder="{{item.Title}}"
               name="Name" />
        <span class="description" *ngIf="item.Description">* {{item.Description}}</span>
        <div [innerHTML]="ShowErrors(item.FormControl)"></div>
      </div>

    </div>
  </form>

</div>
